*.csv
data/
notebooks/training/*
notebooks/wildfire_training/*
scripts/slurm*
*.sif
scripts/__pycache__
*/.ipynb_checkpoints
.ipynb_checkpoints
.ipynb_checkpoints/*
scripts/.twitter_creds.json
literature/
*/*/.twitter_creds.json
*/.twitter_creds.json
*.pyc
notebooks/tweet_density.gif
*.joblib
mnist/*
